/* GLOBAL */
body {
	background: #eee;
}

img {}

div {
	margin-top: -60px;	x 
}

h1 {
	text-align: center;
	font-size: 4em;
}

p {}

/* TYPOGRAPHY */


/* NAVIGATION */


/* HOVER STATES */


/* BLOCKQUOTE */




/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}